<dl>
<dt>[%|loc%]Anyone can subscribe[%END%]</dt>
<dt>[%|loc%]Anyone can view archives[%END%]</dt>
<dt>[%|loc%]All posts are moderated, except for posts by editors[%END%]</dt>
<dt>[%|loc%]Shared documents accessible by editors[%END%]</dt>
</dl>
