<!-- $Id: help_faquser.tt2 10201 2014-01-31 08:17:34Z sikeda $ -->

		<h3 class="block">[%|helploc%]Users Frequently Asked Questions[%END%]</h3>

		<h4>[%|helploc%]You can not subscribe to a list[%END%]</h4>
		<p>[%|helploc%]This problem may be due to the following reasons:[%END%]</p>
		<ul>
			<li><strong>[%|helploc%]The list owners forgot to process your subscription request</strong>: to err is human, and your request might have been lost among many other messages! Resubmit your request before <a href="#contactadmin">contacting list owners directly</a>.[%END%]</li>
			<li><strong>[%|helploc%]Subscription to the list is reserved to a certain category of people</strong>. To know more, <a href="#contactadmin">contact list owners</a>.[%END%]</li>
		</ul>

		<h4>[%|helploc%]You can not log on to the mailing list web interface[%END%]</h4>
		<p>[%|helploc%]This problem may be due to the following reasons:[%END%]</p>
		<ul>
			<li>[%|helploc(path_cgi)%]<strong>You have no password</strong>. To be given a password, follow the <a href="%1/firstpasswd">First login?</a> link from the homepage. You will receive your new password by email.[%END%]</li>
			<li>[%|helploc(path_cgi)%]<strong>You entered an incorrect password</strong>. If you forgot your password, you can reset it. To do so, follow the <a href="%1/renewpasswd">Lost password?</a> link from the homepage.[%END%]</li>

			<li>[%|helploc%]<strong>You are not using the correct username</strong> (the email address with which you are subscribed to the list).[%END%]</li>
		</ul>
		<p class="retraitita">[%|helploc%]In order to avoid any mistake when typing your password, you can type it into another application (such as your email client) and copy and paste it into your web browser.[%END%]</p>

		<h4>[%|helploc%]You do not receive (all) messages sent to a list[%END%]</h4>
		<p>[%|helploc%]This problem can have multiple reasons:[%END%]</p>
		<ul>
			<li><a name="notsubscribedyet"></a><strong>[%|helploc%]You have never been subscribed to the list[%END%]</strong>: 
			<ul>
				<li>[%|helploc%]Maybe you made a mistake in your email address when you tried to subscribe.[%END%]</li>
				<li>[%|helploc%]Maybe you are subscribed with an email address other than the one you are checking.[%END%]</li>
				<li>[%|helploc%]Maybe your subscription request was rejected by the list owners.[%END%]</li>
			</ul>
			[%|helploc(path_cgi)%]In any case, try and <a href="%1/help/user#subscribe">subscribe</a> again.[%END%]</li>
			<li><a name="notsubscribedanymore"></a><strong>[%|helploc%]You are not subscribed to the list anymore[%END%]</strong>:
			<ul>
				<li>[%|helploc(path_cgi)%]If your address has been bouncing for a while, you might have been automatically unsubscribed by the system (or even by the list owners). Try and <a href="%1/help/user#subscribe">subscribe again</a> after ensuring that your email address will not be in trouble again.[%END%]</li>
				<li>[%|helploc%]If you have not respected the different rules applying to the mailing list, the list owners might have "banned" you...[%END%]</li>
				<li>[%|helploc(path_cgi)%]You might also have been arbitrarily unsubscribed by an ill-intentioned person, in case the list is not configured to send a confirmation request for any subscription and unsubscription request... In that case, try and <a href="%1/help/user#subscribe">subscribe</a> again.[%END%]</li>
			</ul>
			<li>[%|helploc(path_cgi)%]<strong>Your <a href="%1/help/user#deliverymode">delivery mode</a> does not allow you to receive messages</strong>: for example, it is the case with the 'Nomail' delivery mode.[%END%]</li>
			<li>[%|helploc%]<strong>Your inbox is full</strong>. Be careful: when your inbox is not completely full, you receive only small messages, which makes it difficult to understand what actually is the problem... Furthermore, if your email address causes trouble on a regular basis, you might be unsubscribed by the list owners or by the system. Thus, you should clean your inbox frequently.[%END%]</li>
			<li>[%|helploc(path_cgi)%]<strong>Your inbox is subject to some restrictions</strong>: it does not allow you to receive messages with attachments, bans some types of attachments or limits the maximum size of incoming messages; in that case, we advise you to choose the <a href="%1/help/user#deliverymode">Urlize delivery mode</a>.[%END%]</li>
		</ul>
		
		<!--Vérifier systèmes anti-virus, anti-spam-->

		<h4>[%|helploc%]You can not send messages to a list[%END%]</h4>
		<p>[%|helploc%]This problem can have multiple reasons:[%END%]</p>
		<ul>
			<li>[%|helploc%]<strong>You have <a href="#notsubscribedyet">never been subscribed</a></strong> to the list.[%END%]</li>
			<li>[%|helploc%]<strong>You are <a href="#notsubscribedanymore">not subscribed to the list anymore</a></strong>.[%END%]</li>
			<li>[%|helploc%]<strong>You are using another address</strong> than the one with which you are subscribed to the list.[%END%]</li>
			<li>[%|helploc%]<strong>If the list is a moderated list, the distribution of the message depends on the moderators' availability</strong>: they can not monitor the list night and day! Thus the distribution of your message might be a bit delayed.[%END%]</li>
			<li>[%|helploc(conf.host)%]<strong>If the list is a moderated list, your message might have been rejected by a moderator</strong>. In case you received no notice, you can possibly send a message to nameofthelist-request@%1 to ask for an explanation.[%END%]</li>
			<li>[%|helploc%]<strong>The message you are trying to send does not fulfill the conditions to be distributed</strong> on the list: it may be too large, contain a forbidden type of attachment or even contain any type of attachment (in case attachments are forbidden on the list).[%END%]</li>
			<li>[%|helploc%]<strong>The problem may also come from your email account</strong>:[%END%]
			<ul>
				<li>[%|helploc%]The mail server is temporarily unavailable.[%END%]</li>
				<li>[%|helploc%]Your inbox is full and it prevents you from sending new messages.[%END%]</li>
				<li>[%|helploc%]Your inbox is subject to some restrictions: it does not allow you to send messages with attachments, bans some types of attachments or limits the maximum size of outgoing messages.[%END%]</li>				
			</ul></li>
			<li>[%|helploc%]Last, <strong>you might have made a mistake in the list address</strong> when sending your message![%END%]</li>
		</ul>

		<h4>[%|helploc%]You can not unsubscribe from a list[%END%]</h4>
		<p>[%|helploc%]This problem can have multiple reasons:[%END%]</p>
		<ul>
			<li>[%|helploc%]<strong>You are using another address</strong> than the one with which you are subscribed to the list.[%END%]</li>
			<li>[%|helploc%]<strong>You are subscribed through a dynamic data source</strong> (examples: databases, <acronym lang="en" xml:lang="en" title="Lightweight Directory Access Protocol">LDAP</acronym> directories, etc.) which does not allow you to unsubscribe. <a href="#contactadmin">Contact the list owners</a> to know more about this.[%END%]</li>
			<li>[%|helploc%]<strong>The list owners forgot to process your unsubscription request</strong>: to err is human, and your request might have been lost among many other messages! Resubmit your request before <a href="#contactadmin">contacting list owners directly</a>.[%END%]</li>
		</ul>

		<h4><a name="contactadmin"></a>[%|helploc%]You want to contact list owners[%END%]</h4>
		<p>[%|helploc(conf.host)%]The list owners and moderators' names are mentioned in the left menu. However, you should never write directly to a list owner or moderator: first, the person to whom you are writing might be absent, and furthermore, it is better to inform all owners and moderators of your request. When you have a question or remark, <strong>the address you should write to is: nameofthelist-request@%1</strong> (replace 'nameofthelist' by the name of the list).[%END%]</p>
<!-- end help_faquser.tt2 -->
