<iframe style="float:left; background: white; padding-right:20px" src="https://riseup.net/thermometer" height="256" width="280" frameborder="0"></iframe>

<div class="homesection">Check on the server status</div>
<p>To check on the status of lists.riseup.net, visit <a href="http://status.riseup.net">status.riseup.net</a>. If there are any known problems, we will post them there.</p>

<div class="homesection">Use secure connections</div>
<p>In order to establish secure connections, riseup.net must have a certificate. Rather than pay a corporation lots of money for certificates, we have decided to use the non-profit <a href="http://cacert.org">CA Cert</a>. What does this mean for you? If you want to use a secure connections with lists.riseup.net, please visit our <a href="http://help.riseup.net/certificates">certificate installation page</a>. Not using secure connections? Want information about email security? Then check out our <a href="http://help.riseup.net/security">security crash course</a>.
</p>

<div class="homesection">We need your support</div>
<p> If you value radical alternatives to the corporate internet, and you want to see us stay around, then we need your donation!  Our list service is paid for entirely by small donations from users like you. Please see our <a href="http://riseup.net/donate">donation page</a> for more information.
</p>

