<dl>
<dt>[%|loc%]Only subscribers can post[%END%]</dt>
<dt>[%|loc%]Only subscribers can view archives[%END%]</dt>
<dt>[%|loc%]Shared documents accessible by all list subscribers[%END%]</dt>
<dt>[%|loc%]Subscribers can view the list of who is subscribed[%END%]</dt>
<dt>[%|loc%]Subscriptions must be approved[%END%]</dt>
</dl>
