<!-- $Id: title.tt2 10053 2013-12-24 13:54:30Z sikeda $ -->

<!-- begin title.tt2 -->
[% IF  conf.logo_html_definition %]
<div id="logo" >[% conf.logo_html_definition %]</div>
[% ELSE %]
<div id="logo" ><img src="[% icons_url %]/logo_sympa.png" alt="SYMPA logo"></div>
[% END %]
<div id="Title">[% robot_title %]<br /></div>
<div id="top"><a class="displayNone" href="#Paint">Skip to Content.</a></div>
<!-- end title.tt2 -->

